/* Import the font */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Source+Code+Pro:wght@500&display=swap');
body {
    background: linear-gradient(90deg, rgba(34, 195, 128, 1) 0%, rgba(149, 28, 171, 1) 100%);
    color: white;
    font-family: 'Quicksand', sans-serif;
}

body>#countdown {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.5); */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30vh;
    color: white;
    font-family: 'Quicksand', sans-serif;
    transition: 5s;
}